@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
}

:focus {
  outline: none;
}

.container {
  background-color: #ffffff;
  width: 550px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 100px;
  color: #ead7d7;
}

.new_todo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.checked {
  color: #737373;
}

.todo_item {
  position: relative;
  border-bottom: 1px solid #ededed;
}

.todo_item-close {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 20px;
  margin: auto 0;
  color: #cc9a9a;
}

.todo_item:hover > .todo_item-close {
  display: block;
}

.check_box-all + .check_all {
  font-size: 22px;
  color: #e6e6e6;
  position: absolute;
}

.check_box-all:checked + .check_all {
  color: #737373;
}


.checkbox_custom {
  font-size: 20px;
  border-radius: 50%;
  color: #ffffff;
  border: 1px solid #f4f4f4;
}

.todo_item-checkbox__checked {
  color: #61c3b1;
  border: 1px solid #d3e6e2;
}

.todo_item-name {
  padding: 15px 30px 15px 0;
  border: 1px solid transparent;
  color: #4d4d4d;
  font-size: 24px;
  word-break: break-all;
}

._focus {
  border-color: #999;
  box-shadow: inset 1px -1px 5px 0 rgba(0, 0, 0, 0.4);
}

.todo_item-name-active {
  color: #d9d9d9;
  text-decoration: line-through;
}

.new_todo-input {
  color: #4d4d4d;
  font-size: 24px;
  line-height: 24px;
}

.new_todo-input::placeholder {
  font-style: italic;
  color: #e6e6e6;
}

.footer {
  color: #777777;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.footer::after {
  content: "";
  position: absolute;
  width: 540px;
  height: 4px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  bottom: -5px;
  background-color: #ffffff;
  right: 5px;
}

.footer::before {
  content: "";
  position: absolute;
  width: 530px;
  height: 4px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  bottom: -10px;
  background-color: #ffffff;
  right: 10px;
}

.list_sort {
  font-size: 14px;
  line-height: 14px;
  padding: 5px 10px;
  border-radius: 2px;
  border-width: 1px;
  border-color: transparent;
}

button:focus {
  outline: none;
}

.list_sort-normal:hover {
  border-color: rgba(175, 47, 47, 0.08);
}

.list_sort-selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.todo_count {
  flex: 2;
}

.todo_sorts {
  flex: 6;
}
.todo_clear {
  flex: 2;
}

.todo_clear:hover > button {
  text-decoration: underline;
}
